Repository FFY00/dbus-objects: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, isort, pytest

.pre-commit-config.yaml:

hooks:
  - &base
    language: python
    types: [python]
    require_serial: true
  - &mypy
    id: mypy
    name: mypy
    entry: mypy
    <<: *base
  - &flake8
    id: flake8
    name: flake8
    entry: flake8
    <<: *base
  - &isort
    id: isort
    name: isort
    entry: isort
    <<: *base
  - &pytest
    id: pytest
    name: pytest
    entry: pytest
    args: ['-x']
    <<: *base

repos:
  - repo: local
    hooks:
      - <<: *mypy
        files: ^dbus_objects/
      - <<: *flake8
        files: ^dbus_objects/
      - <<: *isort
        files: ^dbus_objects/
        args: ['--check-only', '--diff']
      - <<: *pytest
        name: pytest (source changes)
        files: ^(dbus_objects|tests)/
        exclude: ^tests/test_*.py
        pass_filenames: false
      - <<: *pytest
        name: pytest (test changes)
        files: ^tests/test_

Deploying to gh-pages from @ 1d9a346d140f1c34c3eedafedb87ce93a7350208 🚀
  .doctrees/environment.pickle
  CHANGELOG/index.html
  api/index.html
  genindex/index.html
  index.html
  py-modindex/index.html
  search/index.html
Due: none

ci: add missing Python versions in mypy run
  .github/workflows/checks.yml
Due: none

Deploying to gh-pages from @ 0361cf887d688d152d8678265debf358ebaf06b6 🚀
  .doctrees/environment.pickle
  CHANGELOG/index.html
  api/index.html
  genindex/index.html
  index.html
  py-modindex/index.html
  search/index.html
Due: none

tests: fix multiple return test method
  tests/conftest.py
Due: pytest

rtd: add initial config
  .readthedocs.yml
Due: none

ci: remove docs workflow
  .github/workflows/doc.yml
Due: none

setup.cfg: add missing jeepney dependency to docs extra
  setup.cfg
Due: none

dbus_objects: put the object submodule on the top level module
  README.md
  dbus_objects/__init__.py
  dbus_objects/integration/__init__.py
  dbus_objects/integration/jeepney.py
  dbus_objects/object.py
  dbus_objects/signature.py
  docs/api.rst
  examples/simple.py
  tests/conftest.py
  tests/test_object.py
  tests/test_signature.py
Due: mypy, flake8, isort, pytest

docs: add titles to API page
  docs/api.rst
Due: none

types: add docstrings
  .pre-commit-config.yaml
  dbus_objects/types.py
Due: mypy, flake8, isort, pytest

Experimenting with Jeepney Trio backend
  dbus_objects/integration/jeepney_trio.py
  setup.cfg
  tests/test_jeepney_trio.py
Due: mypy, flake8, isort, pytest

refactor trio
  dbus_objects/integration/jeepney.py
  dbus_objects/integration/jeepney_trio.py
  tests/test_jeepney_trio.py
Due: mypy, flake8, isort, pytest

jeepney: add trio server
  dbus_objects/integration/jeepney.py
  setup.cfg
  tests/test_jeepney_trio.py
Due: mypy, flake8, isort, pytest

examples: add jeepney trio example
  examples/jeepney_trio.py
Due: none

readme: add supported jeepney backends
  README.md
Due: none

dbus_objects: skip coverage on type imports
  dbus_objects/__init__.py
Due: mypy, flake8, isort, pytest

object: fix setting a custom name on DBus signal
  dbus_objects/__init__.py
Due: mypy, flake8, isort, pytest

object: redesign DBus signal API to not interfer with definition
  README.md
  dbus_objects/__init__.py
  dbus_objects/integration/__init__.py
  dbus_objects/integration/jeepney.py
  examples/simple.py
  tests/conftest.py
  tests/test_object.py
Due: mypy, flake8, isort, pytest

release 0.0.2
  CHANGELOG.rst
  dbus_objects/__init__.py
  setup.cfg
Due: mypy, flake8, isort, pytest

ci: rename master branch to main
  .github/workflows/tests.yml
Due: none

setup.cfg: add Python 3.9 trove classifier
  setup.cfg
Due: none

readme: add small overview/description of the project
  README.md
Due: none

jeepney: add asyncio server
  dbus_objects/integration/jeepney.py
  setup.cfg
  tests/test_jeepney_asyncio.py
Due: mypy, flake8, isort, pytest

tests: simply slightly
  .github/workflows/tests.yml
Due: none

Use codecov Github action v2
  .github/workflows/tests.yml
Due: none

Tell codecov where to find XML files
  .github/workflows/tests.yml
Due: none

ci: use codecov Github action v2
  .github/workflows/tests.yml
Due: none

setup.cfg: update to sphinx 4
  setup.cfg
Due: none

pre-commit: add CI config
  .pre-commit-config.yaml
Due: none
