Repository FFY00/dbus-objects: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, isort, pytest

mypy:
  language: python
  require_serial: true
  name: mypy
  entry: mypy

flake8:
  language: python
  require_serial: true
  name: flake8
  entry: flake8

isort:
  language: python
  require_serial: true
  name: isort
  entry: isort
  args:
  - --check-only
  - --diff

pytest:
  language: python
  require_serial: true
  name: pytest (test changes)
  entry: pytest
  args:
  - -x

object: add multiple_returns to dbus_method
  dbus_objects/object.py
  dbus_objects/types.py
  dbus_objects/util.py
  tests/conftest.py
Due: mypy, flake8, isort, pytest

pre-commit: pytest improvements
  .pre-commit-config.yaml
Due: none

major refactoring
  README.md
  dbus_objects/integration/__init__.py
  dbus_objects/integration/base.py
  dbus_objects/integration/jeepney/__init__.py
  dbus_objects/integration/jeepney/blocking.py
  dbus_objects/object.py
  dbus_objects/signature.py
  dbus_objects/types.py
  dbus_objects/util.py
  dbus_objects/xml.py
  setup.cfg
  setup.py
  tests/conftest.py
  tests/test_object.py
  tests/test_server.py
  tests/test_signature.py
  tests/test_util.py
Due: mypy, flake8, isort, pytest

ci: install missing dependency
  .github/workflows/tests.yml
Due: none

codecov: remove targets and PR comments
  codecov.yml
Due: none

integration: make jeepney a file module
  dbus_objects/integration/jeepney.py
Due: mypy, flake8, isort, pytest

example: add simple example
  examples/simple.py
Due: none

readme: add syntax highlight to the introspection XML example
  README.md
Due: none

object: set the DBus interface to None by default
  dbus_objects/object.py
Due: mypy, flake8, isort, pytest

integration: split standard interfaces into separate objects
  dbus_objects/integration/__init__.py
Due: mypy, flake8, isort, pytest

pre-commit: use remotes and add some hooks
  .github/workflows/checks.yml
  .github/workflows/doc.yml
  .pre-commit-config.yaml
  dbus_objects/integration/__init__.py
  dbus_objects/object.py
  docs/source/conf.py
  examples/simple.py
  setup.cfg
  setup.py
  tests/__init__.py
Due: mypy, flake8, isort, pytest

jeepney: remove outdated TODO
  dbus_objects/integration/jeepney.py
Due: mypy, flake8, isort, pytest

setup.py: move build system information to setup.cfg
  setup.cfg
  setup.py
Due: none

pyproject: use the setuptools.build_meta backend for PEP517
  pyproject.toml
Due: none

setup.cfg: add a extra for the test dependencies
  setup.cfg
Due: none

cov: only register source and test files
  setup.cfg
Due: none

tests: refactor signature tests
  setup.cfg
  tests/test_signature.py
Due: pytest

types: remove type checking guard
  dbus_objects/types.py
Due: mypy, flake8, isort, pytest

ci: install test dependencies via the extra
  .github/workflows/tests.yml
Due: none

readme: remove dependencies
  README.md
Due: none

tests: ignore coverage for lines that shouldn't run
  tests/test_object.py
Due: pytest

tests: object: add test for no interface in a DBus method
  tests/test_object.py
Due: pytest

tests: base_server: add test to register an object
  tests/test_base_server.py
  tests/test_jeepney.py
Due: pytest

jeepney: add event to listen to allow stopping
  dbus_objects/integration/jeepney.py
Due: mypy, flake8, isort, pytest

jeepney: add TODO to validate the DBus message fields
  dbus_objects/integration/jeepney.py
Due: mypy, flake8, isort, pytest

tests: add test for the Jeepney blocking server
  dbus_objects/integration/jeepney.py
  tests/test_jeepney.py
Due: mypy, flake8, isort, pytest

tests: base_server: test the standard interfaces
  tests/conftest.py
  tests/test_base_server.py
Due: pytest

tests: jeepney: make server, client and connection fixtures
  tests/conftest.py
  tests/test_jeepney.py
Due: pytest

readme: adjust the server topology for the recent refactoring
  README.md
Due: none

jeepney: handle errors
  dbus_objects/integration/jeepney.py
Due: mypy, flake8, isort, pytest

jeepney: restart connection if it resets
  dbus_objects/integration/jeepney.py
Due: mypy, flake8, isort, pytest

dbus_objects: add __version__
  dbus_objects/__init__.py
Due: mypy, flake8, isort, pytest

release 0.0.1b1
  dbus_objects/__init__.py
  setup.cfg
Due: mypy, flake8, isort, pytest

funding: add sponsor button for my Github Sponsors profile
  FUNDING.yml
Due: none

ci: checks: fix spacing
  .github/workflows/checks.yml
Due: none

tests: base_server: ignore XML order
  setup.cfg
  tests/test_base_server.py
Due: pytest

dbus_objects: add support for Python 3.7
  dbus_objects/signature.py
  dbus_objects/types.py
  setup.cfg
Due: mypy, flake8, isort, pytest

nox: run mypy and pytest
  noxfile.py
Due: none

ci: test against Python 3.7
  .github/workflows/tests.yml
Due: none

setup.cfg: add python_requires
  setup.cfg
Due: none

Path conditions:
  mypy: any of: ^dbus_objects/ and \.py$
  flake8: any of: ^dbus_objects/ and \.py$
  isort: any of: ^dbus_objects/ and \.py$
  pytest: (any of: ^(dbus_objects|tests)/ and \.py$ and not (^tests/test_*.py)) or (any of: ^tests/test_ and \.py$)
