Repository FFY00/dbus-objects: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, isort, pytest

.pre-commit-config.yaml:

hooks:
  - &base
    language: python
    types: [python]
    require_serial: true
  - &mypy
    id: mypy
    name: mypy
    entry: mypy
    <<: *base
  - &flake8
    id: flake8
    name: flake8
    entry: flake8
    <<: *base
  - &isort
    id: isort
    name: isort
    entry: isort
    <<: *base
  - &pytest
    id: pytest
    name: pytest
    entry: pytest
    args: ['-x']
    <<: *base

repos:
  - repo: local
    hooks:
      - <<: *mypy
        files: ^dbus_objects/
      - <<: *flake8
        files: ^dbus_objects/
      - <<: *isort
        files: ^dbus_objects/
        args: ['--check-only', '--diff']
      - <<: *pytest
        name: pytest (source changes)
        files: ^(dbus_objects|tests)/
        exclude: ^tests/test_*.py
        pass_filenames: false
      - <<: *pytest
        name: pytest (test changes)
        files: ^tests/test_

release 0.0.1b2
  dbus_objects/__init__.py
  setup.cfg
Due: mypy, flake8, isort, pytest

dbus_objects: update Jeepney usage with new-style I/O API
  dbus_objects/integration/jeepney.py
  tests/conftest.py
  tests/test_jeepney.py
Due: mypy, flake8, isort, pytest

gitignore: ignore __pycache__ folders
  .gitignore
Due: none

dbus_objects: use names directly from jeepney module
  dbus_objects/integration/jeepney.py
  tests/test_jeepney.py
Due: mypy, flake8, isort, pytest

setup.cfg: require Jeepney >= 0.5
  setup.cfg
Due: none

types: use future annotations
  dbus_objects/types.py
Due: mypy, flake8, isort, pytest

setup.py: add jeepney minimum version in the test extra
  setup.cfg
Due: none

release 0.0.1b3
  dbus_objects/__init__.py
  setup.cfg
Due: mypy, flake8, isort, pytest

integration: document missing methods
  dbus_objects/integration/__init__.py
  dbus_objects/integration/jeepney.py
Due: mypy, flake8, isort, pytest

dbus_objects: add support for DBus properties
  README.md
  dbus_objects/integration/__init__.py
  dbus_objects/integration/jeepney.py
  dbus_objects/object.py
  dbus_objects/types.py
  examples/simple.py
  tests/conftest.py
  tests/test_base_server.py
  tests/test_object.py
Due: mypy, flake8, isort, pytest

jeepney: log errors when dispatching methods
  dbus_objects/integration/jeepney.py
Due: mypy, flake8, isort, pytest

signature: refactor DBusSignature to only represent one signature
  dbus_objects/object.py
  dbus_objects/signature.py
  tests/test_object.py
  tests/test_signature.py
Due: mypy, flake8, isort, pytest

integration: refactor the internal storage structure
  dbus_objects/integration/__init__.py
  dbus_objects/integration/jeepney.py
  tests/test_base_server.py
Due: mypy, flake8, isort, pytest

object/integration: export the corrext XML for DBus properties
  dbus_objects/integration/__init__.py
  dbus_objects/integration/jeepney.py
  dbus_objects/object.py
  tests/test_object.py
Due: mypy, flake8, isort, pytest

tests: object: fix XML diff test
  tests/test_object.py
Due: pytest

dbus_objects: split _DBusMethodBase into _DBusDescriptorBase
  dbus_objects/object.py
Due: mypy, flake8, isort, pytest

release 0.0.1
  dbus_objects/__init__.py
  setup.cfg
Due: mypy, flake8, isort, pytest

changelog: add version 0.0.1
  CHANGELOG.rst
  setup.cfg
Due: none

changelog: add title
  CHANGELOG.rst
Due: none

setup.cfg: add docs dependencies
  setup.cfg
Due: none

docs: change theme to furo, fix the API docs and overall revamp
  .github/workflows/doc.yml
  docs/CHANGELOG.rst
  docs/Makefile
  docs/READEME.md
  docs/api.rst
  docs/conf.py
  docs/index.rst
  docs/source/README.md
  docs/source/index.rst
  docs/source/modules.rst
Due: none

readme: add PyPI version badge
  README.md
Due: none

Exclude 'tests' directory from package, otherwise it will be installed as a top-level module.
  setup.cfg
Due: none

setup.cfg: exclude 'tests' directory from package
  setup.cfg
Due: none

Deploying to gh-pages from @ aded501739ca513f274cc63f57ae68080ba31546 🚀
  .doctrees/environment.pickle
  CHANGELOG/index.html
  _static/pygments.css
  _static/pygments_dark.css
  api/index.html
  genindex/index.html
  index.html
  py-modindex/index.html
  search/index.html
Due: none

Remove 'xmlns:doc' attribute from '<node>' in introspection XML to fix FFY00/dbus-objects#20.
  dbus_objects/integration/__init__.py
Due: mypy, flake8, isort, pytest

Restored original introspection XML as a comment (FFY00/dbus-objects#20).
  dbus_objects/integration/__init__.py
Due: mypy, flake8, isort, pytest
