Repository FFY00/dbus-objects: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, isort, pytest

.pre-commit-config.yaml:

hooks:
  - &base
    language: python
    types: [python]
    require_serial: true
  - &mypy
    id: mypy
    name: mypy
    entry: mypy
    <<: *base
  - &flake8
    id: flake8
    name: flake8
    entry: flake8
    <<: *base
  - &isort
    id: isort
    name: isort
    entry: isort
    <<: *base
  - &pytest
    id: pytest
    name: pytest
    entry: pytest
    args: ['-x']
    <<: *base

repos:
  - repo: local
    hooks:
      - <<: *mypy
        files: ^dbus_objects/
      - <<: *flake8
        files: ^dbus_objects/
      - <<: *isort
        files: ^dbus_objects/
        args: ['--check-only', '--diff']
      - <<: *pytest
        name: pytest (source changes)
        files: ^(dbus_objects|tests)/
        exclude: ^tests/test_*.py
        pass_filenames: false
      - <<: *pytest
        name: pytest (test changes)
        files: ^tests/test_

Put space in commented line to make flake8 happy (FFY00/dbus-objects#20).
  dbus_objects/integration/__init__.py
Due: mypy, flake8, isort, pytest

integration: remove xmlns:doc spec from the introspection XML
  dbus_objects/integration/__init__.py
Due: mypy, flake8, isort, pytest

Deploying to gh-pages from @ c3a45ddc04b3b8ddb1e4a4a7c48054271b97d254 🚀
  .doctrees/api.doctree
  .doctrees/environment.pickle
  CHANGELOG/index.html
  _static/basic.css
  _static/doctools.js
  _static/language_data.js
  _static/searchtools.js
  api/index.html
  genindex/index.html
  index.html
  py-modindex/index.html
  search/index.html
Due: none

Allow breaking out of `listen()` loop to fix FFY00/dbus-objects#22.
  dbus_objects/integration/jeepney.py
Due: mypy, flake8, isort, pytest

jeepney: allow breaking out of `listen()` loop
  dbus_objects/integration/jeepney.py
Due: mypy, flake8, isort, pytest

Deploying to gh-pages from @ 9032ee0f656fdba71f8f945c0d8e08ea8cdf4e42 🚀
  .doctrees/environment.pickle
  CHANGELOG/index.html
  api/index.html
  genindex/index.html
  index.html
  py-modindex/index.html
  search/index.html
Due: none

nox: add Python 3.9
  noxfile.py
Due: none

ci: add Python 3.9
  .github/workflows/tests.yml
Due: none

Deploying to gh-pages from @ bc28e7e8e56a6950ba22da7d52c3e14747b00bdd 🚀
  .doctrees/environment.pickle
  CHANGELOG/index.html
  api/index.html
  genindex/index.html
  index.html
  py-modindex/index.html
  search/index.html
Due: none

ci: only run on master
  .github/workflows/tests.yml
Due: none

jeepney: increase blocking timeout
  dbus_objects/integration/jeepney.py
Due: mypy, flake8, isort, pytest

Deploying to gh-pages from @ d8f857275762c4a26441e82ffd5812d49c54d14f 🚀
  .doctrees/environment.pickle
  CHANGELOG/index.html
  api/index.html
  genindex/index.html
  index.html
  py-modindex/index.html
  search/index.html
Due: none

Deploying to gh-pages from @ 83f22dc63ba2b69147727cf2286f6e44bfb48113 🚀
  .doctrees/environment.pickle
  CHANGELOG/index.html
  api/index.html
  genindex/index.html
  index.html
  py-modindex/index.html
  search/index.html
Due: none

object: add DBus signal
  dbus_objects/object.py
Due: mypy, flake8, isort, pytest

integration: register server with objects
  dbus_objects/integration/__init__.py
Due: mypy, flake8, isort, pytest

jeepney: add support to emit signals
  dbus_objects/integration/jeepney.py
Due: mypy, flake8, isort, pytest

object/integration: export signal XML
  dbus_objects/integration/__init__.py
  dbus_objects/object.py
Due: mypy, flake8, isort, pytest

signature: fix contructor typo
  dbus_objects/signature.py
Due: mypy, flake8, isort, pytest

tests: object: add tests DBusSignal
  tests/conftest.py
  tests/test_object.py
Due: pytest

integration: add emit_signal_callback
  dbus_objects/integration/__init__.py
Due: mypy, flake8, isort, pytest

tests: jeepney: add test for emiting signals
  tests/conftest.py
  tests/test_jeepney.py
Due: pytest

Deploying to gh-pages from @ 5e91c1713945823e2533f2cac1e595f85a7080e1 🚀
  .doctrees/api.doctree
  .doctrees/environment.pickle
  CHANGELOG/index.html
  api/index.html
  genindex/index.html
  index.html
  objects.inv
  py-modindex/index.html
  search/index.html
  searchindex.js
Due: none

readme: add signal to example
  README.md
  examples/simple.py
Due: none

Deploying to gh-pages from @ df6036555a903ba6e4bbbe7d43140e0055fb1422 🚀
  .doctrees/environment.pickle
  .doctrees/index.doctree
  CHANGELOG/index.html
  api/index.html
  genindex/index.html
  index.html
  py-modindex/index.html
  search/index.html
  searchindex.js
Due: none

readme: format example
  README.md
Due: none

Deploying to gh-pages from @ b2c3710626d013dbdd5754a4ab802c357d638631 🚀
  .doctrees/environment.pickle
  CHANGELOG/index.html
  api/index.html
  genindex/index.html
  index.html
  py-modindex/index.html
  search/index.html
Due: none

types/signature: use typing.Annotated for our custom types
  dbus_objects/signature.py
  dbus_objects/types.py
  setup.cfg
  tests/test_signature.py
Due: mypy, flake8, isort, pytest
